@model IEnumerable<sistemaacademico_vs.Models.matricula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.asignatura.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estudiante.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario.asignatura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.asignatura.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estudiante.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario.asignatura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_matricula }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_matricula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_matricula })
        </td>
    </tr>
}

</table>
