@model sistemaacademico_vs.Models.notas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>notas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nota_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota_definitiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota_definitiva)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_nota }) |
    @Html.ActionLink("Back to List", "Index")
</p>
