@model IEnumerable<sistemaacademico_vs.Models.notas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nota_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nota_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nota_definitiva)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nota_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nota_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nota_definitiva)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_nota }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_nota }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_nota })
        </td>
    </tr>
}

</table>
