@model IEnumerable<sistemaacademico_vs.Models.horario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_estudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.asignatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_estudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.asignatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aula)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_horario }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_horario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_horario })
        </td>
    </tr>
}

</table>
